.openerp .oe-dashboard-action .oe-dashboard-action-header2 {
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	text-indent: 10px;
	vertical-align: middle;
	border-bottom: 1px solid #e5e5e5;
	background: white url("/web/static/src/img/box-a-header-a.gif") 0% 0% repeat-x;
}

.openerp h2.oe-dashboard-action-header2 {
	margin: 0;
	padding:4px 4px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.openerp h2.oe-dashboard-action-header2-empty {
	padding-top: 0;
	padding-bottom: 2px;
}

.openerp .oe-dashboard-action .oe-dashboard-action-header2 .ui-icon {
	float: right;
}
