.openerp .oe_vm_switch_graph_highcharts{
    background: url("/web_graph_highcharts/static/src/img/views-icons-a-red.png") repeat-x scroll left top transparent;
    overflow: hidden;
    width: 22px;
    height: 21px;
    border: none;
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_graph_highcharts span{
    display: none;
}
.openerp .oe_vm_switch_graph_highcharts {
    background-position: -44px 0px;
}
.openerp .oe_vm_switch_graph_highcharts:active,
.openerp .oe_vm_switch_graph_highcharts:hover,
.openerp .oe_vm_switch_graph_highcharts:focus,
.openerp .oe_vm_switch_graph_highcharts[disabled="disabled"] {
    background-position: -44px -21px;
}
